
p,td,ul,ol,li,blockquote { 
    color: #303030;
    font-size: 0.95em;
    font-style: normal;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

h1,h2,h3,h4 { 
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.pluginlist {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.library {
    float: left;
    clear: both;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 1.2em;
    padding-left: 0;
    padding-right: 0;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 2px;
    border-bottom-width: 0px;
    border-color: #ef6a35;
    border-style: solid;
}

.plugins li, .library li {
    padding-bottom: 0.5em;
}

.library-even {
    background: #f0f0f0;
}

.library-odd {
    background: #f8f8f8;
}

li {
    list-style-type: none; 
}

.highlight {
    background: yellow;
}

a {
  text-decoration: none;
  color: #ef6a35;
}
a:visited {
  text-decoration: none;
  color: #ef6a35;
}
a:hover {
  text-decoration: underline;
  color: #ef6a35;
}

.plugs-showhide {
  color: #ef6a35;
  cursor: pointer;
}    

.maker-logo {
    max-width: 4em;
    max-height: 3.2em;
    height: auto;
    position: absolute;
    right: 13%;
}

.plugin-piece {
    max-width: 20px;
    max-height: 20px;
    width: auto;
    float: left;
}

.plugin-name {
    margin-top: 0.5em;
}

.plugin-name, .plugin-category, .plugin-description, .plugin-links {
    margin-left: 24px;
}

.library-header {
    padding-left: 1.5em;
    padding-top: 0em;
    padding-bottom: 0;
    margin-bottom: 0em;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: #ef6a35;
    border-style: solid;
    height: 3.5em;
}

.library-body {
    padding-left: 1.5em;
    margin-top: 1em;
}

.library-name {
    font-size: 1.2em;
    font-weight: bold;
}

.library-maker {
    font-size: 0.85em;
}

.library-description {
    float: right;
    width: 64%;
    margin-right: 10%;
}

.plugs-showhide {
    clear: right;
    float: right;
    width: 64%;
    margin-right: 10%;
}

.plugins {
    float: right;
    clear: right;
    width: 72%;
    margin-right: 2%;
    padding-top: 1em;
}

.default-hidden {
    display: none;
}

.default-shown {
    display: block;
}

.library-availability, .library-source-availability, .library-links, .plugin-links, .plugin-category, .plugs-showhide {
    font-size: 0.85em;
}

.library-availability, .library-source-availability {
    color: #505050;
}

.plugin-name {
    font-weight: bold;
}

.plugin-category {
    color: #505050;
    font-style: italic;
}
