<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <link rel="stylesheet" media="screen" type="text/css" href="screen.css"/>
    <link rel="icon" type="image/png" href="images/waveform.png"/>
    <link rel="shortcut" type="image/png" href="images/waveform.png"/>
    <title>Vamp Plugins</title>
    <meta name="robots" content="index"/>
    <meta name="keywords" content="vamp plugin api plugins sonic visualiser visualizer visualise visualize audio music spectrogram feature extraction feapi vsi dssi"/>
    <meta name="description" content="Vamp is a system for plugins that extract feature information from audio data."/>
  </head>
  <body>
      <h1 id="header"><span>Vamp Plugins</span></h1>

      <div id="nav">
      <ul>
      <li class="first"><a href="index.html">Home</a></li>
      <li><a href="news.html">News</a></li>
      <li><a href="download.html">Download Plugins</a></li>
      <li><a href="develop.html">Make Plugins</a></li>
      <li><a href="discuss.html">Discuss</a></li>
      <li><a href="http://vamp-plugins.org/wiki/">Wiki</a></li>
      </ul></div>

      <h2 id="firstpara">Find and Download Plugins</h2>

      <p>This page lists plugins made by research groups and
      developers around the world. It is generated automatically from
      the <a href="/rdf/plugins">RDF descriptions</a> published by the
      plugin authors.</p>

      <p>&#9654; <b>How to Install</b> &mdash; For <a href="#install">installation instructions</a> see the bottom of this page.</p>

      <p>Spotted a mistake? Want to get your plugins listed here? <a href="mailto:cannam@all-day-breakfast.com">Let us
      know!</a></p> <br>

      <!-- insert table here -->

      <div style="clear:both"></div>
      <br>

      <a name="install"></a><h3>How to Install</h3>

      <p>A Vamp plugin set consists of a single dynamic library file
      with <code>.dll</code>, <code>.dylib</code>, or <code>.so</code>
      extension (depending on your platform), plus optionally a category
      file with <code>.cat</code> extension and an RDF description file
      with <code>.ttl</code> or <code>.n3</code> extension.</p>

      <p>To install a plugin set, copy the plugin's library file and
      any supplied category or RDF files into your system or personal
      Vamp plugin location.</p>

      <p>The plugin file extension and the location to
      copy into depend on which operating system you are using:</p>

      <table align=center border=1 cellpadding=5>
        <tr><td><b>Your operating system</b></td><td><b>File extension for plugins</b></td><td><b>Where to put the plugin files</b></td></tr>
        <tr><td><b>macOS</b></td><td><code>.dylib</code></td><td>On a Mac:<ul><li>Put plugins for all users to use in <code>/Library/Audio/Plug-Ins/Vamp</code></li><li>Put plugins for only the current user in <code>$HOME/Library/Audio/Plug-Ins/Vamp</code></li><li>The <code>Library</code> folders are hidden by default; see <a href="http://osxdaily.com/2016/12/12/show-user-library-folder-macos-sierra/">here</a> for details of how to show them</li></ul></td></tr>
        <tr><td><b>64-bit Windows</b></td><td><code>.dll</code></td><td>When using a 64-bit version of Windows:<ul><li>Put 32-bit plugins in <code>C:\Program Files (x86)\Vamp Plugins</code></li><li>Put 64-bit plugins in <code>C:\Program Files\Vamp Plugins</code></li><li>Both 32-bit and 64-bit plugins can be used, as long as you put them in the right places as above</li><li>If a plugin package is not described as 64-bit, then it is a 32-bit plugin. Some older plugins were only published in 32-bit form.</li></ul></td></tr>
        <tr><td><b>32-bit Windows</b></td><td><code>.dll</code></td><td>When using a 32-bit version of Windows:<ul><li>Put 32-bit plugins in <code>C:\Program Files\Vamp Plugins</code></li><li>You cannot use 64-bit plugins at all on 32-bit Windows</li><li>If a plugin package is not described as 64-bit, then it is a 32-bit plugin. Some older plugins were only published in 32-bit form.</li></ul></td></tr>
        <tr><td><b>Linux, other Unix</b></td><td><code>.so</code></td><td>On Linux, BSD systems, etc: <ul><li>Put plugins for all users to use in <code>/usr/local/lib/vamp</code></li><li>Put plugins for only the current user in <code>$HOME/vamp</code></li><li>Only plugins with the correct architecture can be used (32-bit plugins on 32-bit systems, and 64-bit on 64-bit).</ul></td></tr>
      </table>

      <p>You can alternatively set the <code>VAMP_PATH</code>
      environment variable to override the search path for for Vamp
      plugins. <code>VAMP_PATH</code> should contain a
      semicolon-separated (on Windows) or colon-separated (macOS,
      Linux) list of directory locations.  If it is set, it will
      completely override the standard locations listed
      above. (N.B. When using 32-bit plugins on 64-bit Windows, some
      hosts will check for the <code>VAMP_PATH_32</code> environment
      variable instead of <code>VAMP_PATH</code>.)</p>

    </body>
</html>
