<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <link rel="stylesheet" media="screen" type="text/css" href="screen.css"/>
    <link rel="icon" type="image/png" href="images/waveform.png"/>
    <link rel="shortcut" type="image/png" href="images/waveform.png"/>
    <title>Vamp Plugins</title>
    <meta name="robots" content="index"/>
    <meta name="keywords" content="vamp plugin api plugins sonic visualiser visualizer visualise visualize audio music spectrogram feature extraction feapi vsi dssi"/>
    <meta name="description" content="Vamp is a system for plugins that extract feature information from audio data."/>
  </head>
  <body>
      <h1 id="header"><span>Vamp Plugins</span></h1>

      <div id="nav">
      <ul>
      <li class="first"><a href="index.html">Home</a></li>
      <li><a href="rationale.html">Rationale</a></li>
      <li><a href="download.html">Download Plugins</a></li>
      <li><a href="develop.html">Make Plugins</a></li>
      <li><a href="http://vamp-plugins.org/forum/">Forum</a></li>
      <li><a href="http://vamp-plugins.org/wiki/">Wiki</a></li>
      </ul></div>

      <h2 id="firstpara">Download Vamp Plugins</h2>

      <p>Here are links to all the Vamp plugins that we have been notified of.</p>
      <p><b>For <a href="#install">installation instructions</a> see the bottom
      of the page.</b></p>

      <p>Many of these will be ready to download and run straight away
      on your platform.  Licensing terms vary: please see the
      individual plugin pages for details.</p>

      <p><i><small>Want to make your own plugins? <a href="develop.html">Go here!</a></small></i><br>
      <i><small>Would you like to see your plugins listed here? <a href="mailto:cannam@all-day-breakfast.com">Drop us a line!</a></small></i><br>
      <i><small>Written a plugin, but have no way to build and distribute platform binaries? <a href="mailto:cannam@all-day-breakfast.com">Let us know</a> and we may be able to help.</small></i></p>

      <!-- insert table here -->

      <div style="clear:both"></div>

      <a name="install"></a><h3>How to Install</h3>

      <p>A Vamp plugin set consists of a single dynamic library file
      with <code>DLL</code>, <code>.dylib</code>, or <code>.so</code>
      extension (depending on your platform) plus optionally a category
      file with <code>.cat</code> extension and an RDF description file
      with <code>.ttl</code> or <code>.n3</code> extension.</p>

      <p>To install a plugin set, just copy the plugin's library file
      and any supplied category or RDF files into your system or
      personal Vamp plugin location.</p>

      <p>The plugin file extension and the location to
      copy into depend on your platform:</p>

      <table align=center border=1 cellpadding=5>
      <tr><td>&nbsp;</td><td><b>File extension</b></td><td><b>System plugin folder</b></td><td><b>Personal plugin folder</b></td></tr>
      <tr><td>Linux or other Unix</td><td><code>.so</code></td><td><code>/usr/local/lib/vamp</code></td><td><code>$HOME/vamp</code></td></tr>
      <tr><td>OS/X</td><td><code>.dylib</code></td><td><code>/Library/Audio/Plug-Ins/Vamp</code></td><td><code>$HOME/Library/Audio/Plug-Ins/Vamp</code></td></tr>
      <tr><td>Windows (32-bit)</td><td><code>.dll</code></td><td><code>C:\Program Files\Vamp Plugins</code></td><td>&nbsp;</td></tr>
      <tr><td>Windows (64-bit)</td><td><code>.dll</code></td><td><code>C:\Program Files (x86)\Vamp Plugins</code></td><td>&nbsp;</td></tr>
      </table>

      <p>You can alternatively set the <code>VAMP_PATH</code>
      environment variable to list the locations a host should look in
      for Vamp plugins.</p>

      <p><code>VAMP_PATH</code> should contain a semicolon-separated
      (on Windows) or colon-separated (OS/X, Linux) list of paths.  If
      it is set, it will completely override the standard locations
      listed above.</p>

    </body>
</html>
